name: CI

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Cache Go install binaries
        uses: actions/cache@v4
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-bin-${{ hashFiles('justfile', '**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-bin-

      - name: Run all the ci things
        run: just ci
