name: Release

on:
  push:
    tags:
      - "v*"   # only run with version tags, e.g. git tag v0.0.1

permissions:
  contents: write
  packages: write

jobs:
  release:
    if: ${{ !github.event.act }} # skip during local actions testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - uses: extractions/setup-just@v3
