name: Bump version and release
on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  build:
    if: ${{ github.event.pull_request.merged == true && !github.event.act }} # skip during local actions testing
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: extractions/setup-just@v3

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          ref: ${{ steps.tag_version.outputs.new_tag }}

      - name: Build distribution
        run: just dist

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          makeLatest: true
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          artifacts: "dist/*"
